.mat-expansion-panel-header{
    padding:0 0.5rem;
}

.div-panel-header{
    width:100%;
}

.btn-close{
    float:right;
    color:#666;
}

.train-countdown{
    display: block;
    font-size:2rem;
    line-height:2.4rem;
    float:left;
    width:110px;
}

.timetable-content{
    margin:0 -8px -4px;
}

.timetable-detail, .train-detail{
    font-size:0.8rem; color:#666;
    line-height:150%;
}

.train-detail{
    float:left;
    width:calc(100% - 150px);  
}

.train-operation{
    display: block;
    float:right;
    width:40px;
}

label, span{
    font-family: sans-serif,"Microsoft YaHei"
}

.mat-divider{
    margin:0.3rem 0 0 0;
}
.lblLink{
    color:#3f51b5;
    cursor: pointer;
    margin-bottom:0;
}
