<h1>
  {{ criteria.stationName }}
  <small>{{ criteria.time }} 从{{ criteria.benchmarkLineId }}号线出发</small>
</h1>
<div *ngFor="let item of timetableSections">
  <div>
    <span [class]="'line-number-block line-' + item.lineId">{{
      item.lineId
    }}</span
    >号线
  </div>
  <div
    *ngIf="
      criteria.benchmarkLineId !== undefined &&
      criteria.benchmarkLineId !== item.lineId
    "
    class="interchange-guide"
  >
    <p>换乘指南（最近下车点参考）：{{ item.interchangeGuide }}</p>
    <p>
      换乘时间：约 {{ item.interchangeTimeNormal / 100 }}分（步行）|
      {{ getInterchangeTimeDisplay(item.interchangeTimePeak) }}（极限）
    </p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td colspan="3">{{ item.directionInfo[0].description }}</td>
      </tr>
      <tr>
        <td>到</td>
        <td>开</td>
        <td>终点站</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of item.trains[0]">
        <td>{{ t.fromArrival }}</td>
        <td>{{ t.fromDeparture }}</td>
        <td>{{ t.finalStationName }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td colspan="3">{{ item.directionInfo[1].description }}</td>
      </tr>
      <tr>
        <td>到</td>
        <td>开</td>
        <td>终点站</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of item.trains[1]">
        <td>{{ t.fromArrival }}</td>
        <td>{{ t.fromDeparture }}</td>
        <td>{{ t.finalStationName }}</td>
      </tr>
    </tbody>
  </table>
</div>
